// Colors //
$black: #fff;
$yellow: #ffff00;
$purple: mediumslateblue;
$grey: darkgrey;

$bg-lt-blue: rgba(240, 248, 255, 1);
$bg-gray: rgba(204,204,204, 0);
$bg-blue: rgba(63, 189, 191, 1);

// Media Query Breakpoints //

$brk-narrow : '(min-width: 768px)';

$brk-wide   : '(min-width: 1024px)';
