// Centering //

%center {
  text-align: center;
}

// Display //

%inline-block {
  display: inline-block;
}

// Font Family //

%font {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

// Underline //

%underline {
  text-decoration: underline;
}
